.movies-cont {
	min-height: calc((100vh - 7rem) - 1px);
	background-color: var(--bg-color);
	padding: 2rem 6rem 2rem 6rem;
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(240px, 1fr));
	justify-content: center;
	row-gap: 3rem;
	column-gap: 2rem;
}

.no-result-cont {
	min-height: calc((100vh - 7rem) - 1px);
	background-color: var(--bg-color);
	text-align: center;

	& p {
		padding: 4rem;
		font-size: 2rem;
	}
}
