:root {
	--header-w: 7rem;
	--header-fs: 3rem;
}

.header {
	height: var(--header-w);
	background-color: var(--bg-color);
	display: flex;
	align-items: center;
	justify-content: space-around;
	margin-bottom: 1px;

	& .title {
		display: flex;
		align-items: center;
		justify-content: center;
		gap: 1rem;

		& .svg-movie-icon {
			width: var(--header-fs);
			height: var(--header-fs);

			& path {
				fill: var(--color-one);
			}
		}

		& h1 {
			font-size: var(--header-fs);
			font-family: 'Roboto Slab', serif;
		}
	}
}

.form {
	display: flex;
	gap: 1rem;

	& .input-bg {
		width: 14rem;
		height: 2rem;
		background-color: var(--color-three);
		display: flex;
		align-items: center;
		justify-content: center;
		border-radius: 5px;

		& input {
			width: calc(14rem - 2px);
			height: calc(2rem - 2px);
			border: 1px solid transparent;
			padding: 2px 2px 2px 5px;
			border-radius: 4px;
		}

		& input:focus {
			outline-color: var(--bg-color);
			outline-offset: -1px;
		}
	}

	& button {
		width: 4rem;
		height: 2rem;
		background-color: var(--color-one);
		color: var(--bg-color);
		border-radius: 4px;
		border: none;
		outline: none;
		padding: 0.2rem;
		font-weight: bold;
	}
}

.error-msg {
	position: absolute;
	color: var(--color-three);
	margin-top: 5px;
}
